<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <% if(userInfo){ %>
        안뇽하세요 <%= userInfo[0].name %> 님 ^ㅇ^
        <br>
        <a href="/mypage">마이페이지</a>
    <% }else{ %>
        여러분 환영함니다요 ^ ^ 마구마구 회원가입하자!!
        <br>
        <a href="/login">로그인</a>
        <a href="/join">회원가입</a>
    <% } %>
    <a href="/board">게시판</a>
</body>
</html>